<div class="lead">Vous pouvez recharger votre quota d’impression à plusieurs pour éviter de payer 0,50€ par transaction.
Vous pouvez transférer du quota d’impression pour dépanner un pote. Vous pouvez rembourser un sandwich qu’on vous a offert en crédit photocopie.
Vous pouvez en faire un cadeau de Saint-Valentin. Vous pouvez ne pas transférer de quota d’impression parce que vous n’en voyez pas l’intérêt.
Pour transférer du quota d’impression (diminuer le solde de votre compte personnel pour augmenter celui d’un autre étudiant du même montant), indiquez ci-dessous le montant à transférer
(qui ne peut être supérieur à celui dont vous disposez) et le numéro matricule de la personne à qui ce montant doit être transféré.
</div>
<hr>
<br>
<button>Je confirme que je transfert du quota</button>
